.slidecontainer {
  width: 1000px;
  margin-left: 0px;
}

body{ 
  background-color: #0e151f;
}

.float-child-left {
  float: left;
  padding: 20px;
}

/* .float-child-right {
  float: right;
  padding: 40px;
} */

.country {
  fill: #374359;
}

.outline {
  stroke: #C9C9C9;
  stroke-width: 0.8px;
  fill: none;
}

/* .button {
  background-color: #374359;
  color: #A7B3C8;
  border-radius: 200px;
  margin: 10px;
  font-family: 'Helvetica';
  font-weight: 200;
  margin-top: 50px;
} */

.axisAttr text{
  fill: #E2ECFF;
  font-family: 'Helvetica';
}

.axisAttr path{
  stroke: #E2ECFF;
}

.axisAttr line{
  stroke: #E2ECFF;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  margin-left: -100px;
  border-radius: 20px;  
  background: #A7B3C8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/* .slider .slider-box {
    background-color: red;
    display: inline-block;
    height: 8px;
} */
/* .slider .slider-box .slider-value {
    background-color: blue;
} */
/* .slider input {
    position: absolute;
} */
.slider{
  -webkit-appearance: none;
  width: 1055px;
  height: 8px;
  margin-left: -100px;
  border-radius: 30px;  
  background: #A7B3C8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #E2ECFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #E2ECFF;
  cursor: pointer;
}

#title {
  font-size: 90px;
  font-family: 'Helvetica';
  font-weight: 800;
  margin-top: 150px;
  margin-left: 350px;
  color: #E2ECFF;
}

#title2 {
  font-size: 90px;
  font-family: 'Helvetica';
  font-weight: 800;
  margin-top: -30px;
  margin-left: 350px;
  color: #E2ECFF;
}

#discription {
  font-size: 30px;
  font-family: 'Helvetica';
  font-weight: 400;
  margin-top: -250px;
  margin-left: 1200px;
  color: #E2ECFF;
  text-align: left;
}

#moreDis {
  font-size: 22px;
  font-family: 'Helvetica';
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 1200px;
  color: #E2ECFF;
  text-align: left;
}

#subTitle {
  font-size: 50px;
  font-family: 'Helvetica';
  font-weight: 500;
  color: #E2ECFF;
  margin-top: 180px;
}

#subTitle1 {
  font-size: 50px;
  font-family: 'Helvetica';
  font-weight: 500;
  color: #E2ECFF;
  margin-top: 250px;
}

#subDis{
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: 200;
  color: #E2ECFF;
  margin-top: -20px;
}

.limit {
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: 200;
  color: #E2ECFF;
  padding-left: 20px;
}

.circleText {
  font-size: 15px;
  font-family: 'Helvetica';
  font-weight: 400;
  fill: #E2ECFF;
}
/* .slider {
    -webkit-appearance: none;
    width: 1050px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: -100px;
  } */

/* .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  } */

.button {
  background-color: #374359;
  color: #A7B3C8;
  border-radius: 200px;
  margin: 10px;
  font-family: 'Helvetica';
  font-weight: 200;
  margin-top: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  font-weight: bold;
}

/* .button2 {
  background-color: #ffc8dd;
}

.button3 {
  background-color: #bde0fe;
}

.button4 {
  background-color: #a2d2ff;
} */


.btn-container,
.container {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 40px;
}

.container h2 {
  padding-top: 30px;
  font-weight: 300;
}